/* 加载字体 */
/* JetBrains Mono */
@import url('https://fonts.loli.net/css?family=JetBrains Mono:400,500,600,700&display=swap');
/* Noto Sans SC 思源宋*/
@import url('https://fonts.loli.net/css2?family=Noto Sans SC:wght@700&display=swap');
/* 霞鹜文楷 */
@import url('https://cdn.jsdelivr.net/npm/lxgw-wenkai-screen-webfont@1.1.0/style.css');

/* 自定颜色主题 */
:root {
  /* Day */
  --md-typeset-h2-color: #8959a8;
  --md-typeset-h3-color: #0089a3;
  --md-typeset-h4-color: #4caf50;
  --md-typeset-h5-color: #e66100;
  --tokyo-h5-bg: rgba(230, 97, 0, 0.05);
}

[data-md-color-scheme="slate"] {
  /* Night */
  --md-typeset-h2-color: #bb9af7;
  --md-typeset-h3-color: #7dcfff;
  --md-typeset-h5-color: #ff9e64;
  --tokyo-h5-bg: rgba(255, 158, 100, 0.1);
}

h2 { color: var(--md-typeset-h2-color); }
h3 { color: var(--md-typeset-h3-color); }
h4 { color: var(--md-typeset-h4-color); }
h5 { color: var(--md-typeset-h5-color) !important; }
.md-typeset h5 {
  color: var(--md-typeset-h5-color);
  padding: 0.2em 0.5em;
  background-color: var(--tokyo-h5-bg);
  border-radius: 4px;
  display: inline-block;
  margin: 0;
}
/* 装饰符：前面加一个波浪号或双斜杠 */
.md-typeset h5::before {
  content: "◆ ";
  opacity: 0.6;
  margin-right: 0.2em;
}

/* 平滑滚动 */
html {
    scroll-behavior: smooth;
}

/* 字体问题 */
:root {
  --md-text-font: "JetBrains Mono", "LXGW WenKai Screen"; 
  --md-code-font: "JetBrains Mono";
}

.md-typeset h1, 
.md-typeset h2, 
.md-typeset h3, 
.md-typeset h4 {
    font-family: "Noto Sans SC" !important;
    letter-spacing: -0.02em;
}